img {
    width: 150px;
    height: 150px;
}

.circle {
    border-radius: 50%;
}

.verde {
    border: 5px solid #25fc09;
}

.amarelo {
    border: 5px solid #c9bf07;
}

.vermelho {
    border: 5px solid #ee0b0b;
    ;
}