.corpo-do-site{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lista-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}