.sora {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bowlby {
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/*O * significa todos os elementos da minha pagina*/
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

h1 {
    color: orangered;
}

nav {
    background-color: orangered;
    padding: 10px;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    font-weight: 800;
}

img {
    border: 5px solid orangered;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    margin-bottom: 75px;

}

p {
    color: darkblue;
    font-family: "Sora", sans-serif;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 40px;
}

.bordas{
    padding-left: 150px;
    padding-top: 100px;
    padding-right: 150px;
    columns: 2;
}

.cor-laranja{
    color: orangered;
}

.cor-preto{
    color:black;
}